.faqSection {
  .leftContent {
    span {
      color: #00a99d;
      font-size: 1rem;
      font-weight: 500;
      line-height: 162.5%;
      text-transform: capitalize;
    }
    h2 {
      color: #031220;
      font-size: 2.75rem;
      font-weight: 700;
      line-height: 120%;
    }
    p {
      color: #49535b;
      font-size: 1rem;
      line-height: 162.5%;
    }
    .readBtn {
      border-radius: 6px;
      border: 2px solid rgba(12, 20, 15, 0.1);
      background: #fff;
      padding: 0.25rem 2.5rem;
      display: inline-block;
      a {
        color: #0c140f;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 300%;
        text-decoration: none;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .faqSection {
    .leftContent {
      h2 {
        font-size: 2.25rem;
      }
      p {
        color: #49535b;
        font-size: 1rem;
        line-height: 162.5%;
      }
      .readBtn {
        border-radius: 6px;
        border: 2px solid rgba(12, 20, 15, 0.1);
        background: #fff;
        padding: 0.25rem 1.5rem;
        display: inline-block;
        a {
          color: #0c140f;
          font-size: 0.875rem;
          font-weight: 500;
          line-height: 300%;
          text-decoration: none;
        }
      }
    }
  }
}
