.filterSection {
  background: #f8f8f8;
  box-shadow: 0px 0px 29px -5px rgba(0, 0, 0, 0.14);
  padding: 1.625rem 0;
  margin-top: 1.5rem;
  .filters {
    column-gap: 1rem;
    input {
      flex: 0.4;
    }
    select {
      flex: 0.3;
    }
    input,
    select {
      box-shadow: none;
      outline: none;
      border: none;
      height: 3rem;
      color: #333;
      font-size: 0.75rem;
      font-weight: 300;
    }
  }
  .resetButton,
  .applyButton {
    color: #000;
    font-size: 1rem;
    height: 2.875rem;
    border-radius: 5px;
    padding: 0;
    box-sizing: border-box;
  }
  .resetButton {
    border: 1px solid #000;
  }
  .applyButton {
    color: #ffffff;
    background: #00a99d;
    border: 1px solid #00a99d;
  }
}
.breadcrumb {
  padding-top: 1.25rem;
  p {
    color: #000000;
    text-align: center;
    font-size: 1.125rem;
    line-height: 160.987%;
  }
  span {
    color: #737373;
    text-align: center;
    font-size: 0.875rem;
    line-height: 200%;
  }
}
.collegesList {
  margin-top: 2.5rem;
  .collegeCard {
    height: 100%;
    overflow: hidden;
    border-radius: 1rem;
    background: #ffffff;
    box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.11);
    .collegeImage {
      height: 240px !important;
    }
    .collegeCardContent {
      height: calc(100% - 240px);
      .tag {
        color: #ffffff;
        font-size: 1rem;
        line-height: 185%;
        border-radius: 1.573px;
        background: #00a99d;
        padding: 0.25rem 0.75rem;
        margin-right: 0.775rem;
      }
      .collegeType {
        color: #c9c9c9;
        font-size: 0.725rem;
        line-height: 185%;
        svg {
          fill: #c9c9c9;
        }
      }
      .reviews {
        .ratings {
          color: #ffa423;
          font-size: 0.75rem;
          column-gap: 2px;
          margin-bottom: 0.5rem;
        }
      }
      .title {
        color: #000f2f;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 150%;
      }
      .description {
        color: #4d5765;
        font-size: 0.8rem;
        line-height: 180%;
        letter-spacing: 0.197px;
      }
      .buttonsContainer {
        column-gap: 0.75rem;
        .primaryButton {
          border-radius: 3px;
          background: #9fd51d;
          color: #ffffff;
          font-size: 0.8rem;
          font-weight: 500;
          line-height: 180%;
          display: inline-block;
        }
        button {
          font-size: 0.8rem;
          font-weight: 500;
          line-height: 180%;
          &.secondaryButton {
            border-radius: 3px;
            border: 1px solid #00a99d;
            color: #00a99d;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .filterSection {
    .filters {
      column-gap: 1rem;
      flex-wrap: wrap;
      input {
        flex: 1;
        min-width: 100%;
        margin-bottom: 1rem;
      }
      select {
        flex: 0.5;
        min-width: calc(50% - 0.5rem);
        margin-bottom: 1rem;
      }
    }
    .resetButton,
    .applyButton {
      color: #000;
      font-size: 1rem;
      height: 2.875rem;
      border-radius: 5px;
      padding: 0;
      box-sizing: border-box;
    }
    .resetButton {
      border: 1px solid #000;
    }
    .applyButton {
      color: #ffffff;
      background: #00a99d;
      border: 1px solid #00a99d;
    }
  }
  .breadcrumb {
    padding-top: 1.25rem;
    p {
      color: #000000;
      text-align: left;
      font-size: 1.125rem;
      line-height: 160.987%;
    }
    span {
      color: #737373;
      text-align: center;
      font-size: 0.875rem;
      line-height: 200%;
    }
  }
  .collegesList {
    margin-top: 1rem;
    .collegeCard {
      overflow: hidden;
      border-radius: 1rem;
      background: #ffffff;
      box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.11);
      .collegeCardContent {
        .tag {
          color: #ffffff;
          font-size: 1rem;
          line-height: 185%;
          border-radius: 1.573px;
          background: #00a99d;
          padding: 0.25rem 0.75rem;
          margin-right: 0.775rem;
        }
        .collegeType {
          color: #c9c9c9;
          font-size: 0.725rem;
          line-height: 185%;
          svg {
            fill: #c9c9c9;
          }
        }
        .reviews {
          .ratings {
            color: #ffa423;
            font-size: 0.75rem;
            column-gap: 2px;
            margin-bottom: 0.5rem;
          }
        }
        .title {
          color: #000f2f;
          font-size: 1.25rem;
          font-weight: 600;
          line-height: 150%;
        }
        .description {
          color: #4d5765;
          font-size: 0.8rem;
          line-height: 180%;
          letter-spacing: 0.197px;
        }
        .buttonsContainer {
          column-gap: 0.75rem;
          .primaryButton {
            border-radius: 3px;
            background: #9fd51d;
            color: #ffffff;
            font-size: 0.8rem;
            font-weight: 500;
            line-height: 180%;
            display: inline-block;
          }
          button {
            font-size: 0.8rem;
            font-weight: 500;
            line-height: 180%;
            &.secondaryButton {
              border-radius: 3px;
              border: 1px solid #00a99d;
              color: #00a99d;
            }
          }
        }
      }
    }
  }
}
