.addArtist-container {
  width: 90%;
  margin: auto;
}
#red-border{
  border: 1px solid red;
}
.addArtist-personalDetails {
  width: 70%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.addArtist-alignRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.addArtist-inputFieldDiv {
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1.5rem;
}

.addArtist-inputLabel {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.3px;
  color: #9fa2b4;
  margin: 0px 5px;
  margin-bottom: 1px;
}

.PhoneInputInput {
  outline: none;
  border: none;
  padding: 2px 8px;
}

.addArtist-inputField {
  border: 0.5px solid #155b89;
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  color: #a4a5a9;
  background-color: transparent;
  padding: 13px 15px;
  outline: none;
}

.addArtist-textFieldDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1.5rem;
}

.addArtist-textField {
  border: 0.5px solid #155b89;
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  color: #a4a5a9;
  background-color: transparent;
  padding: 13px 15px;
  outline: none;
}

.addArtist-selectField {
  border: 0.5px solid #155b89;
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  color: #a4a5a9;
  background-color: transparent;
  padding: 13px 15px;
  outline: none;
}

.addArtist-submitDetailDiv {
  width: 40%;
  margin: auto;
  margin-top: 3rem;
}

.addArtist-submitDetailBtn {
  width: 100%;
  border: none;
  outline: none;
  background: #155b89;
  padding: 15px;
  box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24);
  border-radius: 8px;
  font-family: Mulish;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  cursor: pointer;
}

.addArtist-servicesDiv {
  width: 100%;
  position: relative;
}

.removeBtnDiv {
  position: absolute;
  top: 40%;
  right: -10%;
}

.removeBtn {
  border: none;
  background-color: transparent;
  transform: rotate(-45deg);
  padding: 0;
  font-size: 40px;
  font-weight: 600;
  color: #155b89;
  cursor: pointer;
}

.addBtnDiv {
  position: absolute;
  bottom: 0%;
  right: -10%;
}

.service-addBtn {
  border: none;
  /* border-bottom: 0.5px solid #155b89; */
  /* border-radius: 5px; */
  background-color: transparent;
  padding: 2px 10px;
  font-size: 18px;
  font-weight: 600;
  color: #155b89;
  text-decoration: underline;
  cursor: pointer;
}

/* Setup Payment Options*/

.artist-setPaymentContainer {
  width: 40%;
  margin-left: 10%;
  margin-right: auto;
  text-align: left;
}

.artist-setCommissionDiv {
  width: 100%;
  margin-top: 1rem;
}

.artist-setCommissionHead {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}

.artist-commissionInputDiv {
  width: 100%;
  /* margin-right: auto; */
}

.artist-commissionInput {
  border: 0.5px solid #155b89;
  box-sizing: border-box;
  width: 70%;
  border-radius: 5px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  color: #a4a5a9;
  background-color: transparent;
  padding: 10px 15px;
  outline: none;
}

.artist-commissionInput::placeholder {
}

.artist-commissionHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.artist-setPayment {
  margin-top: 5rem;
}

.artist-setPaymentHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.artist-setPaymentHeading {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  text-align: left;
  color: #000000;
}

.artist-paymentOptionsDiv {
  margin-top: 2rem;
}

.artist-paymentOption {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.artist-radioBtn {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.artist-btnPara {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.03em;
  margin: 10px 0;

  color: #858282;
}
input[type='radio'] {
  border: 1px solid #00365b !important;
}
input[type='radio']:checked:after {
  background-color: #00365b !important;
}

.artist-setPaymentBtnDiv {
  width: 100%;
  margin-top: 2.2rem;
}

.artist-setPaymentBtn {
  width: 80%;
  margin: auto;
  border: none;
  outline: none;
  background: #155b89;
  padding: 10px 15px;
  box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24);
  border-radius: 8px;
  font-family: Mulish;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  cursor: pointer;
}

/***** backIcon Style   *****/

.backBtnTick {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  padding-top: 5px;
}

.backBtnIcon {
  object-fit: contain;
  margin-right: 25px;
}
/***** backIcon Style   *****/

/*  Account Details Page  */

.artist-accountDetailsDiv {
  width: 40%;
  margin-left: 10%;
  margin-right: auto;
}

.artist-accountDetailHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
}

.artist-accountDetailHeading {
  font-family: Montserrat;
  font-style: 500;
  font-size: 24px;
  color: #000000;
}

.artist-accountFormDiv {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

.artist-accountInputDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.artist-accountInputLabel {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  color: #303030;
  margin-bottom: 10px;
  margin-left: 5px;
}

.artist-accountInput {
  border: none;
  outline: none;
  border-bottom: 2px solid #e2e2e2;
  font-size: 18px;
  color: #a4a4a4;
  width: 90%;
  padding: 5px;
}

.artist-accountInput::placeholder {
  font-size: 16px;
  color: #c4cacd;
}

.artist-submitAccountDiv {
  width: 100%;
  margin-top: 2.2rem;
}

.artist-submitAccount {
  width: 90%;
  margin: auto;
  border: none;
  outline: none;
  background: #155b89;
  padding: 10px 15px;
  box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24);
  border-radius: 8px;
  font-family: Mulish;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  cursor: pointer;
}

/** Congratulation Screen **/

.artist-congratsContainer {
  width: 50%;
  margin: 4rem auto;
  text-align: center;
}

.artist-congratsHeading {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 28px;
  text-align: center;
  color: #9a9a9a;
  margin-bottom: 10px;
}

.artist-congratsSubheading {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #9a9a9a;
  margin-top: 0;
}

.artist-goBackBtn {
  margin-top: 1rem;
  border: none;
  outline: none;
  color: #00365b;
  background-color: transparent;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  text-decoration-line: underline;
  cursor: pointer;
}

.Greverbal{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Greverbal h3{
  font-size: 1rem;
  color: #000000;
}
.Greverbal label{
  font-size: 0.8rem;
}
.Greverbal input{
  height: 13%;
  border: 0.5px solid #155b89;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  color: #a4a5a9;
  background-color: transparent;
  outline: none;
  width: 33%;
}
.toefl-category-box{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height:25vh;
}
.toefl-category-box-single{
  display: flex;
  justify-content: space-between;

}
.toefl-category-box-single input{
  width: 30%;
}
.department-details{
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  height: 15vh;
}
.department-details-single{
  display:flex;
  justify-content: space-between;
}
.deadline-boxes{
  display: flex;
  flex-direction: column;
  height: 22vh;
  justify-content: space-between;
}
.deadline-boxes-single{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deadline-boxes-single a{
  text-decoration: none;
  color: #9a9a9a;
  font-size: 1.2rem;
}
.deadline-boxes-single input{
  width: 65%;
  font-size: 0.9rem;
}